---
---
$header-bg-color: #6b9cc9 !default;
$header-bg-color-secondary: #6b70c9 !default;
$navigation-selected-item-color: #819198 !default;
$section-headings-color: #b5e853 !default;
$blockquote-text-color: #9ae012 !default;
$blockquote-color: #aaa !default;
$blockquote-border: #666 !default;

.navigation_current {
  color: $navigation-selected-item-color;
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }

@import "{{ site.theme }}";
